.geral {
    display: flex;

    &-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 20px 0 220px;
        padding-top: 80px;
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-content {
        display: flex;
        border: 1px solid #dfe0eb;
        border-radius: 10px;
        width: 100%;
    }

    &-chart {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 80%;

        &-mounth {
            color: #9fa2b4;
            font-size: 10px;
            margin-top: 10px;
        }
    }

    &-details {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;

        &-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #dfe0eb;
            width: 100%;
            height: 100%;
        }

        &-label {
            color: #9fa2b4;
            font-size: 12px;
            margin-top: 10px;
        }

        &-title {
            text-decoration: underline;
        }
    }

    &-sales {
        margin: 10px 0;
        display: flex;
        width: 100%;
    }

    &-store {
            margin-right: 10px;
            display: flex;
            border: 1px solid #dfe0eb;
            border-radius: 10px;
            width: 100%;
            padding: 5px;
            flex-direction: column;

        &-sales {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 5px;

            &-detail {
                display: flex;
                flex-direction: column;
            }

            &-value {
                color: #2f80ed;
                font-size: 12px;
                font-weight: bold;
                margin-left: 5px;
            }
        }

        &-data {
            color: #fc3c8d;
            font-size: 14;
            text-decoration: underline;
        }

        &-content {
            &-details {
                border-bottom: 1px solid #dfe0eb;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                
                &-store {
                    font-weight: bold;
                }

                &-sales {
                    color: #9fa2b4;
                }
            }
        }
    }
    &-table {
        width: 100%;
        border-collapse: collapse;

        &-line {
            border-bottom: 1px solid #dfe0eb;
            height: 50px;
        }
        
        &-header {
            height: 50px;
        }

        &-line:hover {
            background-color: #a0a0a01f;
        }

        &-atributs {
            font-size: 14px;
            color: #9fa2b4;
            text-align: center;

            &-blue {
                padding: 5px 10px;
                border-radius: 10px;
                background-color: #2f80ed;
                color: #fff;
            }
            &-yellow {
                padding: 5px 10px;
                border-radius: 10px;
                color: #fff;
                background-color: #fec400;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .geral {
        &-content {
            display: flex;
            flex-direction: column;
        }
        &-chart {
            width: 100%;
        }
        &-details {
            width: 100%;

            &-data {
                padding: 10px;
            }
        }
        &-sales {
            flex-direction: column;

        }
        &-store {
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width: 600px) {
    .geral {
        &-container {
            margin: 0 10px 0 10px;
        }
    }
}
